.jumbotron {
  background-color: #686dd3;
  color: white;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #686dd3;
  margin-top: 10px;
}

footer a {
  color: white;
}

footer p {
  color: white;
}
footer a:hover {
  color: white;
}

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
}

.btn-reserva {
  background-color: #d8dbf7;
  color: #4e58cb;
  width: 100%;
  border-radius: 0;
}

.btn-reserva:hover {
  color: #fff;
  background-color: #686dd3;
  border-color: #0062cc;
}

.footer-address-icon {
  padding-right: 10px;
}

.bg-hotel {
  background-color: #686dd3 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.95);
}

#informacionNosotros {
  text-align: right;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #686dd3;
}

@media only screen and (max-width: 768px) {
  #informacionNosotros {
    text-align: left
  }
}
