@morado: #686dd3;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @morado;
  color: white;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @morado;
  .margenes(10px, 0px);

}

footer a {
  color: white;
}

footer p {
  color: white;
}

footer a:hover {
  color: white;
}

.card-hotel {
  flex: 1 250px;
  .margenes(10px, 0px);
}

.btn-reserva {
  background-color: #d8dbf7;
  color: #4e58cb;
  width: 100%;
  border-radius: 0;
}

.btn-reserva:hover {
  color: #fff;
  background-color: @morado;
  border-color: #0062cc;
}

.footer-address-icon {
  padding-right: 10px;
}

.bg-hotel {
  background-color: @morado !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.95);
}

#informacionNosotros {
  text-align: right;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: @morado;
}

@media only screen and (max-width: 768px) {
  #informacionNosotros {
    text-align: left;
  }
}
