$morado: #686dd3;
$amarillo: yellow;
$rojo:red;
$verde:green;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $morado;
  color: white;
  @include margenes(50px, 0);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $morado;
  @include margenes(10px, 0);
}

footer a {
  color: white;
}

footer p {
  color: white;
}

footer a:hover {
  color: white;
}

.card-hotel {
  flex: 1 250px;
  @include margenes(10px, 0);
}

.btn-reserva {
  background-color: #d8dbf7;
  color: #4e58cb;
  width: 100%;
  border-radius: 0;
}

.btn-reserva:hover {
  color: #fff;
  background-color: $morado;
  border-color: #0062cc;
}

.footer-address-icon {
  padding-right: 10px;
}

.bg-hotel {
  background-color: $morado !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.95);
}

#informacionNosotros {
  text-align: right;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $morado;
}

@media only screen and (max-width: 768px) {
  #informacionNosotros {
    text-align: left;
  }
}
